img{
    width: 50%
}
h1{
    font-family: 'Bangers', cursive;
}
h2{
    font-family: 'Anton', sans-serif;
}
li{
    font-family: 'Comfortaa', cursive;
    font-family: 'Crete Round', serif;
}
p{
    font-family: 'Comfortaa', cursive;
    font-family: 'Crete Round', serif;
}